@model IdentityServerManager.UI.Models.ClientScopesViewModel

@{
    ViewData["Title"] = "Client - Scopes";
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Scopes" id="createForm" name="createForm">
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="javascript:void(0)" onclick="saveData('Main', '@Url.Action("Main", "Clients", new { @Model.Id })')">Main</a></li>
                <li role="presentation" class="active"><a>Scopes</a></li>
                <li role="presentation"><a href="javascript:void(0)" onclick="saveData('Claims', '@Url.Action("Claims", "Clients", new { @Model.Id })')">Claims</a></li>
            </ul>

            <div class="card">
                <div class="content">
                    <input type="hidden" asp-for="NextUrl" />
                    <input type="hidden" asp-for="Id" />

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="AvailableScopes" class="control-label"></label>
                                @Html.ListBoxFor(model => model.AvailableScopes, new MultiSelectList(Model.AvailableScopes.OrderBy(i => i.Id), "Id", "Name"), new { @class = "form-control border-input", @size = "12" })
                                <span asp-validation-for="AvailableScopes" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group text-center">
                                <br />
                                <input id="assignAll" type="button" value=">>" class="btn btn-success" data-toggle="tooltip" title="Assign All" />
                                <br /><br />
                                <input id="assign" type="button" value="&nbsp;>&nbsp;" class="btn btn-success" data-toggle="tooltip" title="Assign" />
                                <br /><br />
                                <input id="unassign" type="button" value="&nbsp;<&nbsp;" class="btn btn-success" data-toggle="tooltip" title="Unassign" />
                                <br /><br />
                                <input id="unassignAll" type="button" value="<<" class="btn btn-success" data-toggle="tooltip" title="Unassign All" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="AssignedScopes" class="control-label"></label>
                                @Html.ListBoxFor(model => model.AssignedScopes, new MultiSelectList(Model.AssignedScopes.OrderBy(i => i.Id), "Id", "Name"), new { @class = "form-control border-input", @size = "12" })
                                <span asp-validation-for="AssignedScopes" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" asp-for="AssignedResources" />


                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group pull-right">
                                <input type="submit" value="Save" class="btn btn-success" data-toggle="tooltip" title="Save" />
                                <a asp-action="Index" class="btn btn-danger" data-toggle="tooltip" title="Cancel">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        var assignedVals = [];

        $(document).ready(function () {

            saveAssigned();

            $('#assign').on('click', function (e) {
                var selectedOpts = $('#AvailableScopes option:selected');
                if (selectedOpts.length == 0) {
                    e.preventDefault();
                }
                $('#AssignedScopes').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                e.preventDefault();
                saveAssigned();
            });

            $('#assignAll').on('click', function (e) {
                var selectedOpts = $('#AvailableScopes option');
                if (selectedOpts.length == 0) {
                    e.preventDefault();
                }
                $('#AssignedScopes').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                e.preventDefault();
                saveAssigned();
            });

            $('#unassign').on('click', function (e) {
                var selectedOpts = $('#AssignedScopes option:selected');
                if (selectedOpts.length == 0) {
                    e.preventDefault();
                }
                $('#AvailableScopes').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                e.preventDefault();
                saveAssigned();
            });

            $('#unassignAll').on('click', function (e) {
                var selectedOpts = $('#AssignedScopes option');
                if (selectedOpts.length == 0) {
                    e.preventDefault();
                }
                $('#AvailableScopes').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                e.preventDefault();
                saveAssigned();
            });

            function saveAssigned() {
                assignedVals = [];
                $("#AssignedScopes option").each(function () {
                    assignedVals.push({ Id: this.value, Name: this.value });
                });
                $('#AssignedResources').val(JSON.stringify(assignedVals));
            };


        });

    </script>
}